<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.custview">

    <application
        android:name=".view.InitApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.PluginMainActivity"/>
        <activity android:name=".ui.ViewPager2Activity" />
        <activity android:name=".ui.MyActivity" />
        <activity android:name=".ui.CustLayoutManagerActivity" />
        <activity android:name=".ui.RecycleViewActivity" />
        <activity android:name=".jetpack.activity.JetPackMainActivity" />
        <activity android:name=".ui.ExcelActivity" />
        <activity android:name=".ui.GLSurfaceViewActivity" />
        <activity android:name=".ui.NotificationReceiveActivity" />
        <activity android:name=".ui.NotificationActivity" />
        <activity android:name=".ui.JetPackActivity" />
        <activity android:name=".ui.ScrollActivity" />
        <activity android:name=".ui.CardViewActivity" />
        <activity android:name=".ui.MarqueeActivity" />
        <activity android:name=".ui.ListActivity" />
        <activity android:name=".ui.DraggerActivity" />
        <activity android:name=".ui.CustViewGroupActivity" />
        <activity android:name=".ui.CustomVolumActivity" />
        <activity android:name=".ui.ProgressBarActivity" />
        <activity android:name=".ui.CustView01Activity" />
        <activity android:name=".ui.LargeImageViewActivity" />
        <activity android:name=".ui.ChangeSkinActivity"/>
        <activity
            android:name=".ui.LanguageTestActivity"
            android:configChanges="locale" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ProxyActivity"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <meta-data
            android:name="com.zp.lr.logdir"
            android:value="zp_log"
            tools:replace="android:value" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>