<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zp.sunflower">

    <application>
        <activity
            android:name="com.zp.sunflower.GardenActivity"
            android:exported="true"
            android:theme="@style/Theme.Sunflower.NoActionBar" />
    </application>
</manifest>